<p id="notice"><%= notice %></p>

<h1>Eintrags</h1>

<table>
  <thead>
    <tr>
      <th>Kosten traeger</th>
      <th>Duration</th>
      <th>Date</th>
      <th>Comment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eintrags.each do |eintrag| %>
      <tr>
        <td><%= eintrag.kosten_traeger.name %>(<%= eintrag.kosten_traeger.code %>)</td>
        <td><%= Time.at(eintrag.duration).utc.strftime("%H:%M:%S") %></td>
        <td><%= eintrag.date %></td>
        <td><%= eintrag.comment %></td>
        <td><%= eintrag.user.name %></td>
        <td><%= link_to 'Show', eintrag %></td>
        <td><%= link_to 'Edit', edit_eintrag_path(eintrag) %></td>
        <td><%= link_to 'Destroy', eintrag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eintrag', new_eintrag_path %>
