<p id="notice"><%= notice %></p>

<h1>Kosten Traegers</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kosten_traegers.each do |kosten_traeger| %>
      <tr>
        <td><%= kosten_traeger.code %></td>
        <td><%= kosten_traeger.name %></td>
        <td><%= link_to 'Show', kosten_traeger %></td>
        <td><%= link_to 'Edit', edit_kosten_traeger_path(kosten_traeger) %></td>
        <td><%= link_to 'Destroy', kosten_traeger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kosten Traeger', new_kosten_traeger_path %>
