<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @kosten_traeger.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @kosten_traeger.name %>
</p>

<%= link_to 'Edit', edit_kosten_traeger_path(@kosten_traeger) %> |
<%= link_to 'Back', kosten_traegers_path %>
